
@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
html{
    background-color: #E6E6DC;
    font-family: Nunito;
}
.section1{
    background-color: #81A594;
    height: 60vh;
}
.section2{
    background-color: #E6E6DC;
    height: 55vh;
    display: flex;
    justify-content: center;
}
.wrapper{
   width: 90vw;
    height: 55vh;
  margin-top: -350px;
 
  display: flex;
  flex-wrap:wrap ;
  justify-content: center;
}
.subwrapper{
text-align: center;
}

h1{
    color: #E6E6DC;
    font-family: Nunito;
    font-size: larger;

}


.rect{
  
width: 186px;
height: 149px;

background-color: #FFFFFF;
}

.sub-rect{
   
    width: 161px;
    height: 44px;
   
    
    background-color: #FFFFFF;
}

.mainsection{
    display: flex;

}

.rect2{

    display: flex;
   max-width: 850px;
    height: 109px;
    padding-top:15px ;
    background-color: #E6E6DC;
    flex-wrap: wrap;
}
.mainsection> section{
    padding-left: 20px;
    padding-right: 20px;
}
.rect2 > div{
    padding: 10px;
}

.inputitem, .inputcost{
    

width: 314px;
height: 60px;


background: #FFFFFF;
}
.inputbutton{
    width: 124px;
height: 60px;


background: #81A594;
}
.sub-rect2{
   max-width: 850px;

display: flex;
justify-content: center;


background-color: #FFFFFF;
border: 6px solid #FFFFFF;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
}
.rect3{
    display: flex;
    width: 850px;
    height: 109px;
    padding-top:15px ;
    background-color: white;
    flex-wrap: wrap;
}
div > .btn{
    width: 244px;
height: 78px;


background: #81A594;
}
.pad1,.time,.div,.cost{
    padding: 15px;
}
.btndelete{
    padding-left: 10px;
    display: none;

}
li{
    display: flex;
}

.time,.div,.cost, .btndelete{
   
    width: 244px;
height: 30px;

}

.thead{
    width: 766px;
height: 79px;
background: #FFFFFF;
border: 1px solid #81A594;
box-sizing: border-box;
display: flex;
}
.br{
   padding-top: 20px;

}
.thead>div{
    padding: 30px;
    font-size: 30px;
    font-weight: bolder;
}
ol>li{
    padding: 30px;
    font-size: 20px;

    width: 750px;
    height: 79px;
    /*border: 1px solid #81A594;*/

    box-sizing: border-box;
    display: flex;
    margin-bottom: 15px;
}
.time{
    font-size: small;
    color: #81A594;
}/*
#checkSum{
    background-color: #81A594;
    color: #E6E6DC;
    font-size: x-large;
}*/
@media screen and (max-width: 600px){
   .wrapper{
       margin-top: -230px;
   }
   .mainsection1{
      text-align: center;
       width: 90vw;
     
   }
   .rect2{
       display: flex;
       justify-content: center;
       flex-wrap: wrap;
    display: flex;
    width: 90vw;
     padding-top:15px ;
     background-color: #E6E6DC;
   
   }
.subwrapper{
text-align: center;
}
   .rect{
 
    width: 80px;
    height: 50px;
    
    background-color: #FFFFFF;
    }
    .sub-rect{
        margin-top: -20px;
        width: 80px;
        height: 20px;
       
        
        background-color: #FFFFFF;
    }
   



   .inputitem, .inputcost{
    

    width: 30vw;
    height: 20px;
    
    
    background: #FFFFFF;
    }
    .inputbutton{
        width: 20vw;
   height: 25px;
    
    
    background: #81A594;
    }
  
   .mainsection2{
       display: flex;
       flex-wrap: wrap;
       width: 90vw;
   }
   .thead{
       max-width: 90vw;
       height: inherit;
       display: flex;
       background: #FFFFFF;
       border: 1px solid #81A594;
       box-sizing: border-box;
      
       }

       .thead>div{
        padding: 5px;
        font-size: small;
    }
    .sub-rect2{
        width: 90vw;


        

        display: flex;
        justify-content: center;
        
        
        background-color: #FFFFFF;
        border: 6px solid #FFFFFF;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
    }
   /* li{
        display: flex;
        flex-wrap: wrap;
    }*/
    .time, .btndelete, .SN, .div, .cost{
     padding: 5px;
     font-size: small;
     width: 50px; 
    
    }
    .cost{
        padding-left: 50px;
    }
    
    
    .btndelete{
 display: none;
    }
    .mainsection> section{
     padding-left: 0px;
     padding-right: 0px;
 }
 li{
     display: flex;
    margin-left: -50px;
 }
 .mainsection{
    display: block;

}

div > .btn{
    width: 100px;
height: 40px;


background: #81A594;
}
.pad1,.time,.div,.cost{
    padding: 15px;
}

ol>li{
    padding: 30px;
    font-size: 20px;

    width: 90vw;
    height: 40px;
    /*border: 1px solid #81A594;*/

    box-sizing: border-box;
    display: flex;
    margin-bottom: 15px;
}
 
   }
  